<v-flex xs12 chart-header v-if=" data.values ">
    <v-card>
        <v-layout row wrap>
            <v-flex xs4 chart-func-name-tag>{{data.labels.val1}}</v-flex>
            <v-flex xs3 chart-idx-name>
                <span>{{data.labels.val2}}<br><span class="box-idx-value"><b>{{data.values.val2}}%</b></span></span>
                <i v-if="data.values.val2 > 0" class="material-icons md-16 green100">trending_up</i>
                <i v-else-if="data.values.val2 == 0" class="material-icons md-16 yellow100">trending_flat</i>
                <i v-else-if="data.values.val2 < 0" class="material-icons md-16 red100">trending_down</i>
            </v-flex>
            <v-flex xs1 grey-bar></v-flex>
            <v-flex xs3 chart-idx-name>2017/07/07</v-flex>
            <v-flex xs1><i class="material-icons md-24 grey100">more_horiz</i></v-flex>
            <v-flex xs4 chart-func-value-tag><b>{{data.values.val1}}</b></v-flex>
            <v-flex xs3 chart-idx-name>
                <span>{{data.labels.val3}}<br><span class="box-idx-value"><b>{{data.values.val3}}%</b></span></span>
                <i v-if="data.values.val3 > 0" class="material-icons md-16 green100">trending_up</i>
                <i v-else-if="data.values.val3 == 0" class="material-icons md-16 yellow100">trending_flat</i>
                <i v-else-if="data.values.val3 < 0" class="material-icons md-16 red100">trending_down</i>
            </v-flex>
            <v-flex xs1 cyan-bar></v-flex>
            <v-flex xs4 chart-idx-name>2017/07/14</v-flex>
            <v-flex xs3 under-bar></div></v-flex>
        </v-layout>
    </v-card>
    <v-layout row wrap>
        <v-flex xs12 chart-detail>
            <v-card>
                <div id="sample1-chart1" style="width:100%;height:240px"></div>
            </v-card>
        </v-flex>
    </v-layout>
</v-flex>