<v-flex xs6 v-if="data.values">
    <v-card>
        <v-layout row wrap>
            <v-flex xs8 box-func-name-tag>{{data.labels.val1}}</v-flex>
            <v-flex xs4 box-idx-name>
                <span>{{data.labels.val2}}<br><span class="box-idx-value"><b>{{data.values.val2}}%</b></span></span>
                <i v-if="data.values.val2 > 0" class="material-icons md-16 green100">trending_up</i>
                <i v-else-if="data.values.val2 == 0" class="material-icons md-16 yellow100">trending_flat</i>
                <i v-else-if="data.values.val2 < 0" class="material-icons md-16 red100">trending_down</i>
            </v-flex>
            <v-flex xs8 box-func-value-tag><b>{{data.values.val1}}</b></v-flex>
            <v-flex xs4 box-idx-name>
                <span>{{data.labels.val3}}<br><span class="box-idx-value"><b>{{data.values.val3}}%</b></span></span>
                <i v-if="data.values.val3 > 0" class="material-icons md-16 green100">trending_up</i>
                <i v-else-if="data.values.val3 == 0" class="material-icons md-16 yellow100">trending_flat</i>
                <i v-else-if="data.values.val3 < 0" class="material-icons md-16 red100">trending_down</i>
            </v-flex>
            <v-flex xs6 under-bar></v-flex>
        </v-layout>
    </v-card>
</v-flex>