<v-flex xs6 v-if="data.value">
    <v-card>
        <v-layout row wrap @click="goDetails(id)">
            <v-flex xs8 box-func-name-tag>{{data.value.f1}}</v-flex>
            <v-flex xs4>
                <v-layout row wrap>
                    <v-flex xs12 box-idx-name>{{data.value.f2}}</v-flex>
                    <v-flex xs8 box-idx-value>{{data.value.v2}}%</v-flex>
                    <v-flex xs4 text-xs-left>
                        <div v-if="data.value.v2 > 0" class="trending-up"></div>
                        <div v-else-if="data.value.v2 == 0" class="trending-flat"></div>
                        <div v-else-if="data.value.v2 < 0" class="trending-down"></div>
                    </v-flex>
                </v-layout>
            </v-flex>
            <v-flex xs8>
                <v-layout row wrap>
                    <v-flex xs12 box-func-value-tag><b>{{data.value.v1}}</b></v-flex>
                    <v-flex xs9 under-bar></v-flex>
                </v-layout>
            </v-flex>
            <v-flex xs4>
                <v-layout row wrap>
                    <v-flex xs12 box-idx-name>{{data.value.f3}}</v-flex>
                    <v-flex xs8 box-idx-value>{{data.value.v3}}%</v-flex>
                    <v-flex xs4 text-xs-left>
                        <div v-if="data.value.v3 > 0" class="trending-up"></div>
                        <div v-else-if="data.value.v3 == 0" class="trending-flat"></div>
                        <div v-else-if="data.value.v3 < 0" class="trending-down"></div>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>
    </v-card>
</v-flex>